@charset "UTF-8";

ul, ol {
    list-style-type: none;
}
pre code, code {
    display: block;
    padding: 8px;
    background-color: #333;
    color: white;
}
span {
    font-weight: bold;
}
.var {
    color: lime;
}
.com {
    color: cyan;
}